
html {
    font-size: 62.5%;
}

*{
   margin: 0;
   padding: 0;
   font-family: 'Poppins', sans-serif;
   list-style: none;
   text-decoration: none;
   
}

.navbar{
    z-index:20 ;   /*By setting a higher z-index for your navbar, it should be displayed above the checkboxes or any other content when you scroll down.*/
    font-size: 0.4rem;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #0a2d44;
    padding: 1rem ;
    background-color: white;
    padding: 0.8rem;
    border-bottom: 0.1rem solid rgba(128, 128, 128, 0.333); 
    position: fixed;
    top: 0;   
}
.logo{
    padding-left: 0.3rem;
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer; 
    color: #2051e3;

}

.menu-container {
    margin-left: 3rem;
    position: relative;
    background-color: white;
    align-items: center;
    text-align: center;
  }
  
  .menu-text {
    border: 0.2rem solid black;
    background-color: rgba(0, 0, 255, 0.785);
    cursor: pointer;
    color: white;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
    font-weight: bold;
    padding: 1rem;
    border-radius: 0.5rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1rem;
    position: relative;
  }
  
  .options {
    font-size: 1rem;
    position: absolute;
    top: 100%;
    left: 1rem;
    display: none;
    background-color:whitesmoke;
    border: 0.1rem solid #ccc;
    list-style: none;
    padding: 1rem;
    white-space: nowrap;  /* this is use for display a paragraph in a single line*/
  }
  
  .options li {
    font-size: 1.3rem;
    font-weight: bold;
    padding: 0.7rem 5rem; /* Adjusted padding to make items appear in a single line */
    color: #333;
  }
  

  .menu-container:hover .options {
    display: block;
}

  
  .menu-text:hover {
    background-color: white;
    color: rgba(0, 0, 255, 0.785);
  }
  

 .nav-search{
    margin-left: 1.3rem;
    display: flex;
    justify-content: space-evenly;
    width: 28.155rem;
    height: 3.4rem;
    border-radius: 0.4rem;
 }
 .search-input{
    width: 92%;
    font-size: 1rem;
    border: 0.1rem solid black;
    border-bottom-left-radius: 0.3rem;
    border-top-left-radius: 0.3rem;
}
.search-icon{
    width: 4.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
    background-color:rgba(0, 0, 255, 0.785);
    border-top-right-radius: 0.4rem;
    border-bottom-right-radius: 0.4rem;
    color:white;
}
.degree-text{
    display: flex;
    margin-left: 6%;
    padding: 1.2rem 1.6rem;
    align-items: center;
    cursor: pointer;
    font-size: 1.3rem;
    color: grey;
}
.degree-text:hover{
    text-decoration: underline;
}
.dropdown-icon{
    font-size: 1.5rem;
    margin-left: 0.7rem;
}
.find-career{
    font-size: 1.3rem;
    margin-left: 2.5rem;
    cursor: pointer;
}
.find-career:hover{
    text-decoration: underline;
}
.nav-lang {
    display: flex;
    margin-left: 1.1rem;
    align-items: center;
    cursor: pointer;
    color: grey;
}
.nav-lang:hover{
    text-decoration: underline;
}
.globe{
    margin-left: 1.3rem;
    font-size: 1.7rem;
    margin-right: 0.5rem;
}
.lang{
    font-size:1.3rem ;
}
.bell-icon{
    margin-left: 4rem;
    font-size: 2.8rem;
    cursor: pointer;
}
.horizontal-line {
   margin-left: 4rem;
   margin-right: 4rem;
   font-size: 3.7rem;
   color: rgba(128, 128, 128, 0.295);
}
.user-name{
    display: flex;
    align-items: center;
    cursor: pointer;
}
.name{
    color: grey;
    font-size: 1.5rem;
}
.user-pic{
    margin-right: 1rem;
    font-size: 1.8rem;
}
.drop-down1{
    margin-left: 1rem;
    font-size: 3rem;
}


.main-content{
    background-color: rgba(128, 128, 128, 0.146);
}

 /* Sidebar styles */
 .sidebar {
    width: 27rem;
    background-color:transparent;
    color: black;
    font-size: 1.7rem;
}
.filter-container{
    padding-top: 7%;
    width: 27rem;
    height: 100%;
}

.filter-text{
    padding-left: 2rem;
    padding-bottom: 1.4rem;
}
.duration-text{
    padding-bottom: 1rem;
    padding-left: 2rem;
    padding-top: 1rem;
}



/* Checkbox styles */
.checkbox-label {
    display: block;
    align-items: center;
    padding-bottom: 1.3rem;
    padding: 0.9rem;
    padding-left: 3rem;
    cursor: pointer;
}


/* Styling the checkbox itself */
.checkbox-label input[type="checkbox"] {
    margin-right: 1rem;
     /* Increase the size of the checkbox */
     transform: scale(2); /* You can adjust the scale factor as needed */
    cursor: pointer;
    margin-right: 1.3rem;
}

.course-section{
    margin-top: -54rem;
    display: flex;
    margin-left: 30.5rem;
    flex-wrap: wrap;
    justify-content:space-evenly;
    background-color: transparent;
    padding: 0.5rem;
    padding-right: 4rem;
    padding-bottom: 9rem; 
}


.box{
    height: 44.05rem;
    width: 29rem;
    background-color:rgba(255, 255, 255, 0.811);
    padding: 0.9rem;
    margin-top: 4.5rem;
    border: 0.1rem solid rgba(128, 128, 128, 0.484);
    border-radius: 1rem; 
    cursor: pointer;
}
.box:hover{
    box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.1) ;
    transform: scale(1.05);
    z-index: 1;
    transition: transform 0.5s ease;
}

.box-img{
    border: 0.1rem solid rgba(128, 128, 128, 0.315);
    width: 28.3rem;
    height: 16rem;
    background-size: cover;
    border-radius: 0.5rem;
}
.line1{
    padding-top: 1rem;
    display: flex;
}
.line2{
    color: rgba(0, 0, 0, 0.828);
    padding-top: 1.5rem;
    font-size: 2rem;
    font-weight: bold;
}
.line3{
    font-size: 1.2rem;
    padding-top: 1.5rem;
}
.line4{
    font-size: 1.5rem;
    padding-top: 1rem;
}
.line5{
    padding-top: 1rem;
    display: flex;
}
.line6{
    font-size: 1.3rem;
    padding-top: 1rem;
    color: rgba(128, 128, 128, 0.87);
}
.line1 p{
    color: rgba(128, 128, 128, 0.887);
    padding-left: 1rem;
    font-size: 1.8rem;
    display: flex;
    align-items: center ;
}
.box-content{
    margin-left: 0.1rem;
    margin-right: 1rem;
}

#no-matching-cards{
    margin-top: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Set a fixed height to center vertically in the viewport */
    text-align: center;
}

.empty{
    font-size: 2.5rem;
    margin-top: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}



/*                         FOR SIDEBAR                      */

@media screen and (min-width: 769px) and (max-width: 1321px){
    .sidebar{
        margin-top: 1.3rem;
    }

}

@media screen and (min-width: 769px) and (max-width: 949px){
    .sidebar{
        margin-top: 1.8rem;
    }
}

@media  (max-width: 768px){
    .filter-list {
        display: none;
    }
}


/* Add the following CSS rules */


.filter-button {
    background-color: transparent;
    border: solid 0.1rem transparent;
    flex-wrap: wrap;
    padding-top: 7rem;
    display: none;
    background-color: transparent;
    cursor: pointer;
}


.close-button {
    display: none;
    background-color: transparent;
    color: black;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
    top: 0;
    right: 0;
    margin-right: 3rem;
    padding-top: 7rem;

}




@media (max-width: 768px) {
    .main-content{
        margin-top: -1.9rem;
    }
    .filter-list {
        display: none;
    }
    .filter-container{
        padding-top: 5%;
        width: 100%;
        height: 100%;
    }

    .sidebar{
        align-items: center;
        background-color: white;
        width: 100%;
        height: 100vh;
        
    }
    
    .filter-button {
        background-color: transparent;
        display: block;
        text-align: center;
    }

}



/*                         FOR MENU-BAR                        */

@media screen and (min-width: 769px){
    .menu-button {
        display: none;
    }
    #openMenu {
        display: none;
    }

    #closeMenu {
        display: none;
    }

    #mobileMenu {
        display: block;
    }
}
@media screen and (max-width: 768px){
    .menu-button{
        display: block;
    }
    #openMenu {
        font-size: 2.3rem;
        display: inline-block;
    }
    .close-btn{
        padding-right: 2rem;
        display: flex;
        justify-content: space-evenly;
       
    }
    #closeMenu {
        font-size: 2.5rem;
        display: none;
    }

    #mobileMenu {
        width: 100%;
        height: 100%;
        display: none;
        position: fixed;
        top: 0;
        left: 0;

    }
    .list{
        padding-top: 7rem;
        background-color: white;
        width: 100%;
        height: 100%;
    }
    .list p{
        padding: 3rem;
        font-size: 2rem;
    }
}


@media (max-width: 768px){
    .nav-logo{
        display: flex;
        justify-content: space-evenly;
        width: 93%;
    }
    .menu-container{
        display: none;
    }
    .nav-search{
        display: none;
    }
    .degree-text{
        display: none;
    }
    .find-career{
        display: none;
    }
    .nav-lang{
        display: none;
    }
    .bell-icon{
        display: none;
    }
    .horizontal-line{
        display: none;
    }
    .user-name{
        display: none;
    }

}


/*                         FOR COURSE-SECTION                        */

@media (max-width: 768px) {
    
    .course-section{
        padding-right: 0;
        padding-left: 0;
        align-items: center;
        margin-right: 0;
        margin-left: 0;
        padding-top: 0.2rem;
        margin-top: 1rem;
    }
    .box{
        margin-top: 0;
        margin-bottom: 1.5rem;
    }

}




/*                                          FOR FOOTER                                   */

.foot-panel{
    padding-top: 7rem;
    background-color: rgba(255, 255, 255, 0.801);
    color: black;
    display: flex;
    justify-content: space-evenly;
    height: 48rem;
}
ul{
    margin-top: 1rem;
}

ul p{
    padding-bottom: 1rem;
    font-weight: bold;
    font-size: 1.7rem;
}
ul a{
    justify-content: center;
    display: block;
    font-size: 1.2rem;
    margin-top: 1rem;
    color: black;
}
.foot-panel ul a:hover{
    text-decoration: underline;
    cursor: pointer;
}

.certified-img{
    display: flex;
    justify-content: center;
}

.last-horizontal-line{
    border-top: 0.1px solid rgba(128, 128, 128, 0.445); 
    margin-right: 3rem ; 
    margin-left: 3rem ;
}

.foot-last{
    padding-left: 3rem;
    font-size: 1.5rem;
    align-items: center;
    display: flex;
    height: 6rem;
}
.logo-last{
    display: flex;
    font-size: 3rem;
    padding-left: 61%;
    align-items: center;
}

.logo-last a:not(:last-child) {
    margin-right: 1.5rem; /* Adjust the margin as needed */
}

@media (max-width: 768px){
    .foot-panel{
        flex-direction: column;
        padding-top: 0;
        width: 100%;
        height: 100%;
    }
    .box1, .box2, .box3, .box4 {
        text-align: center;
    }
    .box1, .box2, .box3 {
        margin-bottom: 15px;
    }
    
    .last-horizontal-line{
        margin: 1px 0;
    }

    .logo-last{
        text-align: center;
        width: 100%;
        padding-left: 0;
    }

    .copyright-text{
        text-align: center;
    }
    .logo-last a {
        
        margin: 0 1px;
    }
}

/*                      FOR MENU-BTN                             */



